<div style="padding: 20px; text-align: center;">
    <h1>404 - Página No Encontrada</h1>
    <p>Lo sentimos, la página que buscas no existe.</p>

    <ul style="list-style: none; padding: 20px;">
        <li style="margin: 10px 0;">
            <a routerLink="/auth/login" style="text-decoration: none; color: #3f51b5; font-size: 1.2rem;">
                 Ir a Login
            </a>
        </li>    

        <li style="margin: 10px 0;">
            <a routerLink="/auth/registro" style="text-decoration: none; color: #3f51b5; font-size: 1.2rem;">
                 Ir a Registro
            </a>
        </li>

        <li style="margin: 10px 0;">
            <a routerLink="/heroes/listado" style="text-decoration: none; color: #3f51b5; font-size: 1.2rem;">
                 Ir a listasdo de héroes
            </a>
        </li>
    </ul>
</div>